:root {
    --background-script-screen: #212121;
    --menu-header-fill-color: #262626;
    --menu-item-fill-color: #424242;
    --menu-item-fill-color-accent: #757575;
    --primary-color: #F57F17;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 700px;
    height: 388px;
}

p {
    font-family: 'Roboto', sans-serif;
}

a:visited,
a {
    color: #1E88E5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.script-container .container, .script-items-list, .menu-items-list {
    overflow-y: auto;
    color: #FAFAFA;
}

.script-items-list {
    height: 220px;
}

.script-items-list:empty::before {
    content: "There are no scripts saved";
    padding: 2rem;
}

.menu-items-list {
    height: 80px;
}

.menu-items-list:empty::before {
    content: "There are no scripts running";
    padding: 2rem;
}

/* menu */

.menu {
    background-color: var(--menu-item-fill-color);
    position: relative;
    width: 234px;
    max-height: 100%;
}

.menu footer {
    width: 100%;
    height: 24px;
    text-align: center;
    background-color: var(--menu-header-fill-color);
    position: absolute;
    bottom: 0px;
}

.menu footer p {
    font-size: 8pt;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li,
ul {
    padding: 0;
    list-style-type: none;
}

.menu p {
    text-indent: 12px;
    color: #fafafa;
    margin: 0;
}

.menu-header,
.menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    height: 32px;
}

.menu-item.active,
.menu-item:hover {
    background-color: var(--menu-item-fill-color-accent);
}

.menu-header {
    background-color: var(--menu-header-fill-color);
}

.menu-header p {
    font-weight: bold;
}

.menu-item {
    background-color: var(--menu-item-fill-color);
    transition: 0.1s ease-in-out;
}

.menu-item p {
    font-weight: 400;
    text-indent: 0px;
}

.menu-item::before {
    content: url(../assets/play.svg);
    transform: scale(.8);
}

/* script details */

.script-container {
    overflow-y: auto;
    position: relative;
    width: 467px;
    min-height: 100%;
    background-color: var(--background-script-screen);
    color: #FAFAFA;
}

.script-container.no-scripts .container {
    display: none;
}
.script-container.no-scripts::before {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    content: url(../128.png);
    filter: saturate(0) opacity(.3);
}
.script-container.no-scripts::after {
    content: "No script selected";
    font-size: 16pt;
    font-weight: 500;
    display: flex;
    justify-content: center;
    filter: saturate(0) opacity(.3);
}

.script-container .container {
    overflow-y: scroll;
    padding: 1rem;
}

.hljs {
    max-height: 200px;
    border-radius: 4px;
    padding: 1;
    color: #fafafa;
    background: #0D0D0D;
}

.add-script-btn {
    background-color: var(--primary-color);
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    border: none;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.add-script-btn:hover {
    filter: brightness(1.2);
}

.add-script-btn:active {
    filter: brightness(1.3);
}

.add-script-btn::before {
    content: url(../assets/plus.svg);
    width: 24px;
    height: 24px;
}

.script-container .container *:not(h2) {
    margin: 14px auto;
}

.script-container .container h2 {
    font-weight: 400;
    opacity: .6;
}

input[type=text], input[type=number] {
    color: #FAFAFA;
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    background-color: transparent;
}

input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
input[type=number]{
    background-color: transparent;
    max-width: 64px;
}